<div class="media-component media-component--reverse">

  <div class="container">

    <section class="media-component__section">
      <div class="title-block title-block--right media-component__section__title-block">
        <h3 class="opt-title opt-title--above title-block__leader">
          A world-leading
        </h3>
        <h1 class="title title-block__title">
          Curriculum
        </h1>
        <p class="body title-block__body">
        We&rsquo;ve graduated over 300 beginners into their dream
        jobs as junior developers. Some were looking for a
        career change, others to define themselves.
        </p>
      </div>
    </section>
    <section class="media-component__section">
      <div class="slider">
        <div class="image-block image-block--centered slider__image-block">
          <img alt="Rasterized Ruby on Rails block" class="image image--portrait image-block__image" src="/images/test-curric.jpg" />
        </div>
        <div class="title-block slider__title-block">
          <div class="image-block image-block--centered title-block__image-block">
            <img alt="Ruby on Rails logo" class="image image--portrait image-block__image" src="/images/rails-logo.png" />
          </div>
          <h1 class="title title-block__title">
            Rails
          </h1>
          <p class="body title-block__body">
          A web application framework for large systems. We'll help you understand Rails conventions, build your first Rails app, and deploy it.
          </p>
        </div>
      </div>
    </section>
    <section class="media-component__section">
      <div class="cta-block cta-block--right">
        <a href="#" class="cta cta--horizontal">Our Education Philosophy</a>
      </div>
    </section>

  </div>

</div>