<% component = "media-component" %>
<% modifiers = locals.fetch(:modifiers, []) %>
<% alignment_modifiers = modifiers.include?("reverse") ? ["right"] : ["left"] %>

<div class="<%= component_classes locals.fetch(:parent, nil), component, modifiers %>">
  <div class="container">

    <section class="media-component__section">
      <%= partial 'components/groups/title-block', locals: {
        parent: "media-component__section",
        modifiers: alignment_modifiers,
        titles: [
          {
            modifiers: ["leader"],
            text: locals.fetch(:leader, lorem.words(1))
          },
          {
            text: locals.fetch(:title, lorem.words(1))
          }
        ],
        body: {
          text: locals.fetch(:body_copy, lorem.sentences(3))
        }
      } %>
    </section>
    <section class="media-component__section">
      <div class="slider-block">
        <% slider_content.each do | slider_item | %>
          <% if slider_item[:content_type] === "image" %>
            <%= partial "components/groups/image-block", locals: {
                parent: "slider-block",
                modifiers: ["full", "centered"],
                images: [
                  {
                    modifiers: [slider_item[:orientation]],
                    src: slider_item.fetch(:src, "http://placehold.it/400x600"),
                    alt: slider_item.fetch(:alt, "Untitled Image")
                  }
                ],
                caption: {
                  modifiers: ["right"],
                  bodies: newlines_to_caption_bodies(slider_item.fetch(:caption, ""))
                }
              } %>
          <% elsif slider_item[:content_type] === "title-block" %>
          
          <% end %>
        <% end %>

      </div>
    </section>

    <section class="media-component__section">
      <%= partial "components/groups/cta-block", locals: {
        parent: "media-component__section",
        modifiers: alignment_modifiers,
        ctas: [
          {
            text: cta.fetch(:text, "Untitled"),
            link: cta.fetch(:link, "#"),
            modifiers: [cta.fetch(:type, "horizontal")]
          }
        ]
      } %>
    </section>

  </div>
</div>