/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "singularitygs";

/* load order is important here */
@import "_globals";
@import "_functions";
@import "_variables";
@import "_mixins";

@import "typography/typography";

/* quarks */
@import "quarks/_title";
@import "quarks/_opt-title";
@import "quarks/_body";
@import "quarks/_cta";
@import "quarks/_input";
@import "quarks/_image";
@import "quarks/_caption";

/* atoms */
@import "atoms/_title-block";
@import "atoms/_cta-block";
@import "atoms/_input-block";
@import "atoms/_form-block";
@import "atoms/_image-block";

/* molecules */
@import "molecules/_holler-block";
@import "molecules/_media-component";
@import "molecules/_slider-block";
@import "molecules/_three-up-block";
@import "molecules/_two-up-block";

/* setup */
@import "layout/_containers";

.label {
	display:block;
	font-family: sans-serif;
	color: #aaa;
	font-weight: light;
	margin-top:1em;
	padding: 1em 0;
}
