/* Block container for CTA configurations. */

/* Modules:

- Single
- Single left-aligned
- Single right-aligned
- Inline
- Stacked
- Bar

!!! can contain cta--bigs !!!

*/

.cta-block {
	/* --- structure --- */
	text-align: center;
	padding: 0 1em;

	/* --- theming --- */

	/* --- child layout --- */

	/* --- mobile --- */
	@include respond-to(mobile) {
		padding: 0;
	}
}

.cta-block--left {
	text-align: left;
	/* --- mobile --- */
	@include respond-to(mobile) {
		text-align: center;
	}
}

.cta-block--right {
	text-align: right;
	/* --- mobile --- */
	@include respond-to(mobile) {
		text-align: center;
	}
}

.cta-block--inline {
	/* --- structure --- */

	/* --- theming --- */

	/* --- child layout --- */

	.cta {
		display: inline-block;

		/* margins for central CTAs only */
		&:nth-child(2n) {
			margin: 0 2.61em;
		}
		&:last-child {
			margin-right: 0;
		}

		/* --- mobile --- */
		@include respond-to(mobile) {
			display: block;
			max-width: 10em;
			margin: 0 auto 1em auto;
			&:nth-child(2n) {
				margin: 0 auto 1em auto;
			}
			&:last-child {
				margin-right: auto;
			}
		}
	}
}

.cta-block--stacked {
	/* --- structure --- */

	/* --- theming --- */

	/* --- child layout --- */

	.cta {
		display: block;

		/* margins for central CTAs only */
		&:nth-child(2n) {
			margin: 1em 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

}

.cta-block--bar {
	/* --- structure --- */

	/* --- theming --- */

	/* --- child layout --- */

	.cta {
		float: left;

		/* border radii change only for
		inner children */
		border-radius: 0;
		border-left-width: 1px;
		border-right-width: 1px;

		&:first-child {
			border-left-width: 2px;
			border-top-left-radius: 0.5em;
			border-bottom-left-radius: 0.5em;
		}

		&:last-child {
			border-right-width: 2px;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
		}
	}

}