

		<div class="page">

			<div class="container">

				<div class="title-block">
					<h1 class="title title-block__title">&lsquo;Holler&rsquo; Block</h1>
					<h3 class="opt-title opt-title--below title-block__subtitle">template</h3>
					<p class="body title-block__body">
						Large titles and some copy. Think 'shouty' messages.
					</p>
				</div>

			</div>

			<h3>Modules</h3>
			<div class="example">

				<!-- BEGIN examples -->

				<span class="label">Text &amp; CTA</span>

				<%= partial :"templates/holler-block", locals: {
					type: "call_to_action",
					ctas: [{link: "#", text: "CTA"}],
					title: {text: "Title", body: lorem.sentences(4)} } %>

 				<span class="label">Text &amp; Capture</span>

				<%= partial :"templates/holler-block", locals: {
					type: "email_capture",
					title_image: "images/test-assets/makers-brandmark.png", # optional
					background_image: "images/test-assets/splash-bg.jpg", # optional
					title: lorem.word,
					body: lorem.sentences(2),
					capture: {
						placeholder: "Your email address",
						submit_text: "Stay informed",
						action: "/newsletter.mailchimp"
					}
				} %>

				<span class="label">Showcase</span>

				<%= partial :"templates/holler-block", locals:{
						type: "showcase",
						background_image: "/images/test-assets/hiring-bg.jpg", # optional
						above_title: "Meet", #optional
						title: "Our Hiring Partners",
						body: lorem.sentences(3),
						images: [{src: "/images/test-assets/deloitte-logo.png", alt: "Deloitte logo" },{src: "/images/test-assets/springer-logo.png", alt: "Springer logo" },{src: "/images/test-assets/ctm-logo.png", alt: "Compare the Market logo" }, {src: "/images/test-assets/thoughtworks-logo.png", alt: "Thought Works logo" } ],
						call_to_action: {link: "#", text: "CTA"}
					} %>

				<span class="label">Feature Image</span>
				<%= partial :"templates/holler-block", locals: {
					type: "feature_image",
					background_image: nil, # optional
					above_title: lorem.words(1), # optional
					title: lorem.words(2),
					body: lorem.sentences(3), # optional
					image: {
						src: "http://placehold.it/1080x600",
						alt: "A gray box with '1080x600' in it"
					}
				} %>

				<span class="label">Text &amp; Capture Fullheight</span>
				<div class="holler-block holler-block--full">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="form-block form-block--center">
							<form action="/">
								<div class="input-block input-block--inline-submit">
									<label class="label input-block__label" for="capture_3">Capture something...</label>
									<input class="input input--text" type="text" name="capture_3" placeholder="Capture something..." />
									<input class="cta cta--submit" type="submit" />
								</div>
							</form>
						</div>
					</div>
				</div>

				<span class="label">Text &amp; Content</span>
				<div class="holler-block">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="content-block">

						</div>
					</div>
				</div>

				<span class="label">Text &amp; Content (Backgrounded)</span>
				<div class="holler-block holler-block--backgrounded" style="background-image: url('http://placehold.it/1440x900&text=.');">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="content-block">

						</div>
					</div>
				</div>

				<!-- END examples -->

			</div>

			<div class="container">

				<div class="content">
					<div class="usage">
						...How to use...
					</div>
					<div class="code">
						<div class="html">
							<pre>

							</pre>
						</div>
						<div class="css">
							<pre></pre>
						</div>
					</div>
				</div>

			</div>

		</div>

