<div class="page">

  <div class="container">

    <div class="title-block">
      <h1 class="title title-block__title">&lsquo;One-up&rsquo; Block</h1>
      <h3 class="opt-title opt-title--below title-block__subtitle">template</h3>
      <p class="body title-block__body">
        Content that stretches across the whole of the screen, horizontally.
      </p>
    </div>

  </div>

  <h3>Modules</h3>
  <div class="example">

    <!-- BEGIN examples -->

    <span class="label">With Slider</span>

    <div class="one-up-block">
      <div class="slider-block">
      
      </div>
    </div>

    <span class="label">With Graduate Slider</span>

    <%= partial :"templates/one-up-block", locals: {
        graduates: [
          {
            name: "Nadav"
          },
          {
            name: "James"
          }
        ]
      } %>

    <!-- END examples -->

  </div>

  <div class="container">

    <div class="content">
      <div class="usage">
        ...How to use...
      </div>
      <div class="code">
        <div class="html">
          <pre>

          </pre>
        </div>
        <div class="css">
          <pre></pre>
        </div>
      </div>
    </div>

  </div>

</div>