<div class="page">

	<div class="container">

		<div class="title-block">
			<h1 class="title title-block__title">Slider Block</h1>
			<h3 class="opt-title opt-title--below title-block__subtitle">group</h3>
			<p class="body title-block__body">
				Any number of horizontal blocks in a slider arrangement.
			</p>
		</div>

		<h3>Modules</h3>
		<div class="example">

			<!-- BEGIN examples -->

			<span class="label">Slider Containing Media Components</span>

			<%= partial :"templates/slider-block", locals: {
					type: "media-components",
					content: [
					  {
					    name: "Sam Joseph",
					    previous_job: "Master of Ceremonies",
					    new_job: "Lead Developer",
					    cohort: "April 2015",
					    testimonial: "The best web development course in the world, hands down. An amazing experience that I'm planning on telling all my friends about.",
					    image: "http://placehold.it/400x600",
					    case_study_link: "http://google.com",
					    blog_link: "http://blog.com"
					  },
					  {
					    name: "Pam Joseph",
					    previous_job: "Mistress of Ceremonies",
					    new_job: "Head Developer",
					    cohort: "May 2015",
					    testimonial: "The best web development course in the world, hands down. An amazing experience that I'm planning on telling all my friends about.",
					    image: "http://placehold.it/400x600",
					    case_study_link: "http://google.com",
					    blog_link: "http://blog.com"
					  }
					]
				} %>

			<!-- END examples -->

		</div>

	</div>

	<div class="container">

		<div class="content">
			<div class="usage">
				...How to use...
			</div>
			<div class="code">
				<div class="html">
					<pre>

					</pre>
				</div>
				<div class="css">
					<pre></pre>
				</div>
			</div>
		</div>

	</div>

</div>

