/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@import "../singularitygs"; */
/* load order is important here */
/* High-level critical variables */
/* --- structure --- */
/* --- Utility functions --- */
/* --- Layout --- */
/* --- Breakpoints --- */
/* --- Typography --- */
/* font sizes use the typographic rhythm
   declared in _functions.scss */
/* set on the body only */
/* --- Color --- */
/* all colors are from 
   https://drive.google.com/drive/u/0/#folders/0B3zMV1alL-hBREJ3Qjd0ZlVfUm8/0B3zMV1alL-hBVmlHSENfV0FUeWc/0B3zMV1alL-hBX1BOaHNjaDBxV00 */
/* black */
/* dark blue */
/* dark turquoise */
/* off-white */
/* white */
/* red */
/* color extensions */
/* grey */
/* dark grey */
/* --- Animation --- */
/* --- Borders --- */
/* --- structure --- */
/* Typography */
/* Iconography, using Linea */
/* Animations */
/* Sitewide element Styles */
/* Overrides */
/* accessible visually hidden from
http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
/* Media Query abstractions */
/* Development */
/* typography */
/* line 3, ../sass/typography/_typography.scss */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 8, ../sass/typography/_typography.scss */
a {
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
}

/* line 12, ../sass/typography/_typography.scss */
body {
  font-size: 16px;
}

/* atoms */
/* Main site header copy. */
/* Modules:

- Regular
- Wide

!!! can contain __numbers when using Futura

*/
/* line 13, ../sass/atoms/_title.scss */
.title {
  /* --- structure --- */
  max-width: 29em;
  /* --- theming --- */
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 0.8;
  font-size: 4.2358em;
  color: #AA1925;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 13, ../sass/atoms/_title.scss */
  .title {
    font-size: 2.61792em;
  }
}

/* line 29, ../sass/atoms/_title.scss */
.title--wide {
  /* --- structure --- */
  max-width: 56em;
}

/* line 34, ../sass/atoms/_title.scss */
.title--leader {
  /* --- structure --- */
  padding: 0 0.16em;
  max-width: none;
  margin-bottom: 0.25em !important;
  /* --- theme --- */
  font-size: 1.618em;
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 0.8;
  color: #afafaf;
}

/* line 46, ../sass/atoms/_title.scss */
.title--subtitle {
  /* --- structure --- */
  padding: 0 0.16em;
  max-width: none;
  margin-top: -0.5em !important;
  margin-bottom: 1em !important;
  /* --- theme --- */
  font-size: 1.618em;
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 0.8;
  color: #afafaf;
}

/* the following class is relevant only
   if using a small-caps font that does
   not handle numbers appropriately */
/* line 63, ../sass/atoms/_title.scss */
.title__numbers {
  font-size: 0.7em;
}

/* line 67, ../sass/atoms/_title.scss */
.form-block__fieldset__title {
  /* --- structure --- */
  padding: 0 0.16em;
  max-width: none;
  margin-bottom: 0.5em !important;
  /* --- theme --- */
  font-size: 1.618em;
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 0.8;
  color: #afafaf;
}

/* Extended written things. */
/* line 3, ../sass/atoms/_body.scss */
.body {
  /* --- structure --- */
  max-width: 29em;
  /* theme */
  font-size: 1em;
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* line 12, ../sass/atoms/_body.scss */
.body--big {
  font-size: 1.618em;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 12, ../sass/atoms/_body.scss */
  .body--big {
    font-size: 1em;
  }
}

/* Calls to Action, designed to get 
the user moving either horizontally 
(across content), or to have them 
complete the vertical path (the 
action goal). */
/* Modules:

- Horizontal
- Vertical
- Horizontal Big
- Vertical Big

*/
/* line 16, ../sass/atoms/_cta.scss */
.cta {
  /* --- structure --- */
  display: inline-block;
  padding: 0.618em;
  min-width: 10em;
  text-align: center;
  /* theme */
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  text-decoration: none;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 16, ../sass/atoms/_cta.scss */
  .cta {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

/* line 36, ../sass/atoms/_cta.scss */
.cta--horizontal {
  /* --- structure --- */
  /* theme */
  color: #00333F;
}
/* line 42, ../sass/atoms/_cta.scss */
.cta--horizontal:hover {
  background: rgba(0, 51, 63, 0.2);
}

/* line 47, ../sass/atoms/_cta.scss */
.cta--vertical {
  /* --- structure --- */
  /* theme */
  color: #AA1925;
}
/* line 53, ../sass/atoms/_cta.scss */
.cta--vertical:hover {
  background: rgba(170, 25, 37, 0.2);
}

/* line 58, ../sass/atoms/_cta.scss */
.cta--big {
  /* --- structure --- */
  max-width: 11.1em;
  font-size: 1.618em;
  /* theme */
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 58, ../sass/atoms/_cta.scss */
  .cta--big {
    font-size: 1em;
  }
}

/* line 71, ../sass/atoms/_cta.scss */
.cta--submit {
  /* --- structure --- */
  cursor: pointer;
  min-width: 0;
  /* theme */
  background: transparent;
  color: #AA1925;
  border-color: #AA1925;
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1);
  font-size: 1em;
}
/* line 83, ../sass/atoms/_cta.scss */
.cta--submit:hover {
  background: rgba(170, 25, 37, 0.2);
}
/* line 87, ../sass/atoms/_cta.scss */
.cta--submit:focus {
  outline: none;
}

/* For allowing users to enter values. */
/* Modules:

- Text Input
- Telephone Input
- Email Input
- Radio Input
- Textarea Input
- Select Input

*/
/* line 14, ../sass/atoms/_input.scss */
.input {
  /* --- structure --- */
  display: block;
  padding: 0.618em;
  box-sizing: border-box;
  /* theme */
  font-size: 1em;
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: transparent;
  /* IE hack for input padding 
  http://stackoverflow.com/questions/607198/padding-a-text-input-in-ie-possible */
  overflow: visible;
}
/* line 28, ../sass/atoms/_input.scss */
.input:focus {
  outline: none;
}
/* line 32, ../sass/atoms/_input.scss */
.input::-webkit-input-placeholder {
  color: #afafaf;
}
/* line 36, ../sass/atoms/_input.scss */
.input:-moz-placeholder {
  /* Firefox 18- */
  color: #afafaf;
}
/* line 40, ../sass/atoms/_input.scss */
.input::-moz-placeholder {
  /* Firefox 19+ */
  color: #afafaf;
}
/* line 44, ../sass/atoms/_input.scss */
.input:-ms-input-placeholder {
  color: #afafaf;
}

/* line 49, ../sass/atoms/_input.scss */
.input--text {
  /* --- structure --- */
  /* theme */
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #444;
}

/* line 57, ../sass/atoms/_input.scss */
.input--radio {
  /* --- structure --- */
  display: inline-block;
  /* theme */
}

/* line 64, ../sass/atoms/_input.scss */
.input--textarea {
  /* --- structure --- */
  resize: none;
  /* theme */
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #444;
}

/* Images for, uh, looking at. */
/* Modules:

- Portrait
- Landscape
- Circle

*/
/* line 11, ../sass/atoms/_image.scss */
.image {
  /* --- structure --- */
  box-sizing: border-box;
  max-width: 100%;
  /* --- theming --- */
}

/* line 19, ../sass/atoms/_image.scss */
.image--portrait {
  /* --- structure --- */
  max-height: 100%;
  max-width: none;
  /* --- theming --- */
}

/* line 27, ../sass/atoms/_image.scss */
.image--landscape {
  /* --- structure --- */
  max-width: 100%;
  /* --- theming --- */
}

/* line 34, ../sass/atoms/_image.scss */
.image--brand {
  /* --- structure --- */
  height: 4.2358em;
  width: 11.08901em;
  /* --- theming --- */
}

/* line 42, ../sass/atoms/_image.scss */
.image--rounded {
  /* --- structure --- */
  /* --- theming --- */
  border-radius: 50%;
}

/* Images for, uh, looking at. */
/* Modules:

- Center
- Left
- Right

!!! contains p tags !!!

*/
/* line 13, ../sass/atoms/_caption.scss */
.caption {
  /* --- structure --- */
  box-sizing: border-box;
  /* --- theming --- */
  font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  text-align: center;
  color: #444;
  /* --- child layout --- */
}
/* line 25, ../sass/atoms/_caption.scss */
.caption .caption__body {
  max-width: none;
  display: block;
}

/* line 31, ../sass/atoms/_caption.scss */
.caption--left {
  /* --- structure --- */
  text-align: left;
  /* --- theming --- */
}

/* line 37, ../sass/atoms/_caption.scss */
.caption--right {
  /* --- structure --- */
  text-align: right;
  /* --- theming --- */
}

/* An item in a list. */
/* Modules:

- Regular

*/
/* line 9, ../sass/atoms/_list-item.scss */
.list-item {
  /* --- structure --- */
  /* --- theming --- */
  cursor: pointer;
}

/* groups */
/* Title and some copy. 
Think 'informative' messages. */
/* Modules:

- Center
- Left
- Right
- With Image

!!! can contain opt-titles !!!

*/
/* line 15, ../sass/groups/_title-block.scss */
.title-block {
  /* --- structure --- */
  padding: 0 1em;
  /* --- theming --- */
  /* --- child layout --- */
  /* --- mobile --- */
}
/* line 22, ../sass/groups/_title-block.scss */
.title-block .title, .title-block .body, .title-block .opt-title {
  text-align: center;
  margin: 0 auto;
}
/* line 27, ../sass/groups/_title-block.scss */
.title-block .opt-title--below {
  margin-bottom: 1em;
}
/* line 31, ../sass/groups/_title-block.scss */
.title-block .title {
  margin-bottom: 0.5em;
}

/* line 40, ../sass/groups/_title-block.scss */
.title-block__image-block {
  margin-bottom: 1.618em;
}
/* line 42, ../sass/groups/_title-block.scss */
.title-block__image-block .image--portrait {
  height: auto !important;
}

/* line 47, ../sass/groups/_title-block.scss */
.title-block--left {
  text-align: left;
  /* --- child layout --- */
  /* --- mobile --- */
}
/* line 51, ../sass/groups/_title-block.scss */
.title-block--left .title, .title-block--left .body, .title-block--left .opt-title {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 57, ../sass/groups/_title-block.scss */
.title-block--left .body {
  display: inline-block;
}
@media only screen and (max-width: 1024px) {
  /* line 63, ../sass/groups/_title-block.scss */
  .title-block--left .title, .title-block--left .body, .title-block--left .opt-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 71, ../sass/groups/_title-block.scss */
.title-block--right {
  text-align: right;
  /* --- child layout --- */
  /* hacky way to make titles display properly without
  	 overflowing set container widths */
  /* --- mobile --- */
}
/* line 75, ../sass/groups/_title-block.scss */
.title-block--right .title, .title-block--right .body, .title-block--right .opt-title {
  text-align: right;
  margin-left: 0;
  margin-right: 0;
}
/* line 83, ../sass/groups/_title-block.scss */
.title-block--right .title {
  text-indent: -0.15em;
}
/* line 87, ../sass/groups/_title-block.scss */
.title-block--right .body {
  display: inline-block;
}
@media only screen and (max-width: 1024px) {
  /* line 93, ../sass/groups/_title-block.scss */
  .title-block--right .title, .title-block--right .body, .title-block--right .opt-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 99, ../sass/groups/_title-block.scss */
  .title-block--right .title {
    max-width: 29em;
    text-indent: 0;
  }
}

/* Block container for CTA configurations. */
/* Modules:

- Single
- Single left-aligned
- Single right-aligned
- Inline
- Stacked
- Bar

!!! can contain cta--bigs !!!

*/
/* line 16, ../sass/groups/_cta-block.scss */
.cta-block {
  /* --- structure --- */
  text-align: center;
  padding: 0 1em;
  /* --- theming --- */
  /* --- child layout --- */
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 16, ../sass/groups/_cta-block.scss */
  .cta-block {
    padding: 0;
  }
}

/* line 31, ../sass/groups/_cta-block.scss */
.cta-block--left {
  text-align: left;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 31, ../sass/groups/_cta-block.scss */
  .cta-block--left {
    text-align: center;
  }
}

/* line 39, ../sass/groups/_cta-block.scss */
.cta-block--right {
  text-align: right;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 39, ../sass/groups/_cta-block.scss */
  .cta-block--right {
    text-align: center;
  }
}

/* line 47, ../sass/groups/_cta-block.scss */
.cta-block--inline {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 54, ../sass/groups/_cta-block.scss */
.cta-block--inline .cta {
  display: inline-block;
  /* margins for central CTAs only */
  /* --- mobile --- */
}
/* line 58, ../sass/groups/_cta-block.scss */
.cta-block--inline .cta:nth-child(2n) {
  margin: 0 2.61em;
}
/* line 61, ../sass/groups/_cta-block.scss */
.cta-block--inline .cta:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1024px) {
  /* line 54, ../sass/groups/_cta-block.scss */
  .cta-block--inline .cta {
    display: block;
    max-width: 10em;
    margin: 0 auto 1em auto;
  }
  /* line 70, ../sass/groups/_cta-block.scss */
  .cta-block--inline .cta:nth-child(2n) {
    margin: 0 auto 1em auto;
  }
  /* line 73, ../sass/groups/_cta-block.scss */
  .cta-block--inline .cta:last-child {
    margin-right: auto;
  }
}

/* line 80, ../sass/groups/_cta-block.scss */
.cta-block--stacked {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 87, ../sass/groups/_cta-block.scss */
.cta-block--stacked .cta {
  display: block;
  /* margins for central CTAs only */
}
/* line 91, ../sass/groups/_cta-block.scss */
.cta-block--stacked .cta:nth-child(2n) {
  margin: 1em 0;
}
/* line 94, ../sass/groups/_cta-block.scss */
.cta-block--stacked .cta:last-child {
  margin-bottom: 0;
}

/* line 101, ../sass/groups/_cta-block.scss */
.cta-block--bar {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 108, ../sass/groups/_cta-block.scss */
.cta-block--bar .cta {
  float: left;
  /* border radii change only for
  inner children */
  border-radius: 0;
  border-left-width: 1px;
  border-right-width: 1px;
}
/* line 117, ../sass/groups/_cta-block.scss */
.cta-block--bar .cta:first-child {
  border-left-width: 2px;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
/* line 123, ../sass/groups/_cta-block.scss */
.cta-block--bar .cta:last-child {
  border-right-width: 2px;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

/* For separating inputs within forms. */
/* Modules:

- Regular
- Two-up
- Inline ('Capture')

*/
/* line 11, ../sass/groups/_input-block.scss */
.input-block {
  /* --- structure --- */
  /* --- theming --- */
}

/* line 17, ../sass/groups/_input-block.scss */
.input-block--list {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 23, ../sass/groups/_input-block.scss */
.input-block--list .input {
  margin-bottom: 1em;
}

/* line 28, ../sass/groups/_input-block.scss */
.input-block--two-up {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 83, ../sass/_mixins.scss */
.input-block--two-up:after {
  content: "";
  display: table;
  clear: both;
}
/* line 36, ../sass/groups/_input-block.scss */
.input-block--two-up .input {
  width: 46%;
  float: left;
}
/* line 39, ../sass/groups/_input-block.scss */
.input-block--two-up .input:first-of-type {
  margin-right: 4%;
}
/* line 42, ../sass/groups/_input-block.scss */
.input-block--two-up .input:last-of-type {
  margin-left: 4%;
}

/* line 48, ../sass/groups/_input-block.scss */
.input-block--inline-submit {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 83, ../sass/_mixins.scss */
.input-block--inline-submit:after {
  content: "";
  display: table;
  clear: both;
}
/* line 56, ../sass/groups/_input-block.scss */
.input-block--inline-submit .input, .input-block--inline-submit .cta--submit {
  float: left;
}
/* line 60, ../sass/groups/_input-block.scss */
.input-block--inline-submit .input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}
/* line 66, ../sass/groups/_input-block.scss */
.input-block--inline-submit .cta--submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #444;
}

/* line 73, ../sass/groups/_input-block.scss */
.input-block__label {
  /* --- structure --- */
  /* --- theming --- */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* For collecting content from visitors. */
/* Modules:

- Simple
- with Fieldsets
- Center-aligning

!!! can contain __fieldsets !!!

*/
/* line 13, ../sass/groups/_form-block.scss */
.form-block {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 20, ../sass/groups/_form-block.scss */
.form-block .input-block {
  margin-bottom: 1em;
}

/* line 25, ../sass/groups/_form-block.scss */
.form-block--center {
  /* --- structure --- */
  text-align: center;
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 33, ../sass/groups/_form-block.scss */
.form-block--center .input-block {
  display: inline-block;
}

/* line 38, ../sass/groups/_form-block.scss */
.form-block__fieldset {
  /* --- structure --- */
  /* --- theming --- */
}

/* line 44, ../sass/groups/_form-block.scss */
.form-block__fieldset__opt-title {
  /* --- structure --- */
  margin-bottom: 1em;
  /* --- theming --- */
}

/* Ways of displaying images. */
/* Modules:

- Centered
- Full
- 1-up Grid
- 2-up Grid
- 4-up Grid
- 6-up Grid

*/
/* line 14, ../sass/groups/_image-block.scss */
.image-block {
  /* --- structure --- */
  box-sizing: border-box;
  position: relative;
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 22, ../sass/groups/_image-block.scss */
.image-block .caption {
  position: absolute;
  bottom: 1em;
  width: 100%;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #444;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 22, ../sass/groups/_image-block.scss */
  .image-block .caption {
    display: none;
  }
}
/* line 36, ../sass/groups/_image-block.scss */
.image-block .caption--right {
  right: 1em;
}
/* line 40, ../sass/groups/_image-block.scss */
.image-block .caption--left {
  left: 1em;
}

/* line 45, ../sass/groups/_image-block.scss */
.image-block--centered {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 51, ../sass/groups/_image-block.scss */
.image-block--centered .image {
  display: block;
  margin: 0 auto;
}

/* line 57, ../sass/groups/_image-block.scss */
.image-block--full {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 63, ../sass/groups/_image-block.scss */
.image-block--full .image {
  width: 100%;
}
/* line 67, ../sass/groups/_image-block.scss */
.image-block--full .image--portrait {
  width: auto;
  height: 100%;
}
/* line 72, ../sass/groups/_image-block.scss */
.image-block--full .image--landscape {
  height: auto;
}

/* line 77, ../sass/groups/_image-block.scss */
.image-block--grid {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
  /* --- mobile --- */
}
/* line 83, ../sass/_mixins.scss */
.image-block--grid:after {
  content: "";
  display: table;
  clear: both;
}
/* line 84, ../sass/groups/_image-block.scss */
.image-block--grid .image {
  float: left;
}

/* line 94, ../sass/groups/_image-block.scss */
.image-block--1grid {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
  /* --- mobile --- */
}
/* line 100, ../sass/groups/_image-block.scss */
.image-block--1grid .image {
  width: 80%;
  margin: 0 auto;
  float: none;
  display: block;
}
@media only screen and (max-width: 1024px) {
  /* line 109, ../sass/groups/_image-block.scss */
  .image-block--1grid .image {
    width: 50%;
    float: left;
  }
}

/* line 116, ../sass/groups/_image-block.scss */
.image-block--2grid {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 122, ../sass/groups/_image-block.scss */
.image-block--2grid .image {
  width: 50%;
}

/* line 127, ../sass/groups/_image-block.scss */
.image-block--4grid {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 133, ../sass/groups/_image-block.scss */
.image-block--4grid .image {
  width: 25%;
}

/* line 138, ../sass/groups/_image-block.scss */
.image-block--6grid {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 144, ../sass/groups/_image-block.scss */
.image-block--6grid .image {
  width: 16.66%;
}

/* Items with equal value in a list. */
/* Modules:

- Stacked
- Inline

*/
/* line 10, ../sass/groups/_list-block.scss */
.list-block {
  /* --- structure --- */
  /* --- theming --- */
}

/* line 16, ../sass/groups/_list-block.scss */
.list-block--stacked {
  /* --- structure --- */
  /* --- theming --- */
}

/* line 22, ../sass/groups/_list-block.scss */
.list-block--inline {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 28, ../sass/groups/_list-block.scss */
.list-block--inline .list-item {
  float: left;
}

/* templates */
/* Large titles and some copy.
Think 'shouty' messages. */
/* Modules:

- Text & CTA
- Text & Capture
- Text & Capture Fullheight
- Text & Content

*/
/* Construction:

	.holler-block
	 _______________
	|               |
	|   __section   |
	|               |
	|---------------|
	|   __section   |
	|_______________|

*/
/* line 26, ../sass/templates/_holler-block.scss */
.holler-block {
  /* --- structure --- */
  width: 100%;
  height: 62vh;
  position: relative;
  /* --- theming --- */
  overflow: hidden;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 26, ../sass/templates/_holler-block.scss */
  .holler-block {
    height: 100vh;
  }
}
@media only screen and (max-height: 768px) {
  /* line 26, ../sass/templates/_holler-block.scss */
  .holler-block {
    height: 80vh;
  }
}

/* line 44, ../sass/templates/_holler-block.scss */
.holler-block--full {
  height: 100vh;
}

/* line 48, ../sass/templates/_holler-block.scss */
.holler-block--small {
  height: 38vh;
}

/* line 52, ../sass/templates/_holler-block.scss */
.holler-block--backgrounded {
  background-color: #062533;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 57, ../sass/templates/_holler-block.scss */
.holler-block--backgrounded * {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

/* line 63, ../sass/templates/_holler-block.scss */
.holler-block__section {
  display: table;
  width: 100%;
  margin: 0 auto;
  /* --- child layout --- */
}
/* line 70, ../sass/templates/_holler-block.scss */
.holler-block__section > .title-block {
  display: table-cell;
  vertical-align: bottom;
}
/* line 75, ../sass/templates/_holler-block.scss */
.holler-block__section > .cta-block, .holler-block__section > .form-block {
  padding-top: 2.61em;
  margin: 0 auto;
}

/* line 81, ../sass/templates/_holler-block.scss */
.holler-block__section:first-child {
  height: 61.8%;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 81, ../sass/templates/_holler-block.scss */
  .holler-block__section:first-child {
    height: 50%;
  }
}

/* line 89, ../sass/templates/_holler-block.scss */
.holler-block__section:last-child {
  height: 38.2%;
  /* --- mobile --- */
  /* hacky child templates...this needs
  	 re-thinking */
}
@media only screen and (max-width: 1024px) {
  /* line 89, ../sass/templates/_holler-block.scss */
  .holler-block__section:last-child {
    height: 50%;
  }
}
/* line 99, ../sass/templates/_holler-block.scss */
.holler-block__section:last-child .three-up-block__section {
  height: 24vh;
}
@media only screen and (max-height: 768px) {
  /* line 99, ../sass/templates/_holler-block.scss */
  .holler-block__section:last-child .three-up-block__section {
    height: 30.7vh;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 99, ../sass/templates/_holler-block.scss */
  .holler-block__section:last-child .three-up-block__section {
    height: 33%;
  }
}
/* line 109, ../sass/templates/_holler-block.scss */
.holler-block__section:last-child .image-block--grid {
  display: table-cell;
  vertical-align: middle;
}

/* line 115, ../sass/templates/_holler-block.scss */
.holler-block--equal .holler-block__section {
  height: 50% !important;
}
/* line 117, ../sass/templates/_holler-block.scss */
.holler-block--equal .holler-block__section > .title-block {
  display: table-cell;
  vertical-align: middle;
}

/* line 125, ../sass/templates/_holler-block.scss */
.holler-block--reverse .holler-block__section:first-child {
  height: 38.2%;
}
/* line 128, ../sass/templates/_holler-block.scss */
.holler-block--reverse .holler-block__section:last-child {
  height: 61.8%;
}
/* line 131, ../sass/templates/_holler-block.scss */
.holler-block--reverse .holler-block__section > .title-block {
  display: table-cell;
  vertical-align: middle;
}

/* Two-up displays, for e.g. contextualised content. */
/* Modules:

- Text & Content
- Text & Content GS ('Golden Section')
- Text & Content Reverse
- Text & Content GS Reverse

*/
/* line 12, ../sass/templates/_media-component.scss */
.media-component {
  /* --- structure --- */
  width: 100%;
  height: 62vh;
  position: relative;
  /* --- theming --- */
  overflow: hidden;
  /* --- child layout --- */
  /* --- mobile --- */
}
/* line 22, ../sass/templates/_media-component.scss */
.media-component .slider-block {
  height: 62vh;
}
@media only screen and (max-height: 768px) {
  /* line 22, ../sass/templates/_media-component.scss */
  .media-component .slider-block {
    height: 80vh;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 22, ../sass/templates/_media-component.scss */
  .media-component .slider-block {
    height: 50vh;
  }
}
/* line 30, ../sass/templates/_media-component.scss */
.media-component .slider-block .image--portrait {
  height: 62vh;
}
@media only screen and (max-height: 768px) {
  /* line 30, ../sass/templates/_media-component.scss */
  .media-component .slider-block .image--portrait {
    height: 80vh;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 30, ../sass/templates/_media-component.scss */
  .media-component .slider-block .image--portrait {
    height: 50vh;
  }
}
@media only screen and (max-height: 768px) {
  /* line 12, ../sass/templates/_media-component.scss */
  .media-component {
    height: 80vh;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 12, ../sass/templates/_media-component.scss */
  .media-component {
    height: 100vh;
  }
}

/* line 50, ../sass/templates/_media-component.scss */
.media-component--gs {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 56, ../sass/templates/_media-component.scss */
.media-component--gs .media-component__section {
  width: 38.2%;
}
/* line 59, ../sass/templates/_media-component.scss */
.media-component--gs .media-component__section:first-child, .media-component--gs .media-component__section:last-child {
  width: 61.8%;
}

/* line 67, ../sass/templates/_media-component.scss */
.media-component--reverse {
  /* --- structure --- */
  /* --- theming --- */
  /* --- child layout --- */
}
/* line 73, ../sass/templates/_media-component.scss */
.media-component--reverse .media-component__section {
  float: left;
}
/* line 76, ../sass/templates/_media-component.scss */
.media-component--reverse .media-component__section:first-child {
  float: right;
}

/* line 83, ../sass/templates/_media-component.scss */
.media-component__section {
  /* --- structure --- */
  height: 100%;
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding: 0 1em;
  /* --- theming --- */
  /* --- child layout --- */
  /* --- mobile --- */
}
/* line 91, ../sass/templates/_media-component.scss */
.media-component__section:first-child {
  display: table;
  height: 61.8%;
  float: left;
}
/* line 97, ../sass/templates/_media-component.scss */
.media-component__section:last-child {
  height: auto;
}
/* line 105, ../sass/templates/_media-component.scss */
.media-component__section .cta-block {
  padding-top: 2.61792em;
}
@media only screen and (max-width: 1024px) {
  /* line 83, ../sass/templates/_media-component.scss */
  .media-component__section {
    width: 100%;
    height: 50% !important;
    float: none !important;
    padding: 0;
  }
  /* line 115, ../sass/templates/_media-component.scss */
  .media-component__section:last-child {
    height: auto !important;
    position: absolute;
    bottom: 0;
  }
  /* line 121, ../sass/templates/_media-component.scss */
  .media-component__section .cta-block {
    margin-bottom: 2.61792em;
  }
}

/* line 127, ../sass/templates/_media-component.scss */
.media-component__section__title-block {
  display: table-cell;
  vertical-align: bottom;
}

/* Any number of horizontal blocks 
in a slider arrangement. */
/* Modules:

- Slider

*/
/* line 10, ../sass/templates/_slider-block.scss */
.slider-block {
  /* --- structure --- */
  position: relative;
  /* --- theming --- */
  overflow: hidden;
  /* --- child layout --- */
}
/* line 14, ../sass/templates/_slider-block.scss */
.slider-block .holler-block, .slider-block .media-component {
  float: left;
}

/* line 25, ../sass/templates/_slider-block.scss */
.slick-list {
  height: 100%;
}

/* line 29, ../sass/templates/_slider-block.scss */
.slick-track {
  display: table;
  height: 100%;
}

/* Slider controls */
/* line 36, ../sass/templates/_slider-block.scss */
.slick-prev, .slick-next {
  /* --- structure --- */
  position: absolute;
  top: 50%;
  margin-top: -1.61em;
  height: 2.61em;
  width: 2.61em;
  /* --- theming --- */
  border: none;
  color: transparent;
  background: transparent;
  /* --- child layout --- */
}
/* line 49, ../sass/templates/_slider-block.scss */
.slick-prev:focus, .slick-next:focus {
  outline: none;
}
/* line 53, ../sass/templates/_slider-block.scss */
.slick-prev:before, .slick-next:before {
  font-family: "linea-arrows-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  height: 1em;
  width: 1em;
  color: #afafaf;
  cursor: pointer;
  font-size: 2.61792em;
}
/* line 66, ../sass/templates/_slider-block.scss */
.slick-prev:hover:before, .slick-next:hover:before {
  color: #AA1925;
}

/* line 73, ../sass/templates/_slider-block.scss */
.slick-prev {
  left: 1em;
}
/* line 75, ../sass/templates/_slider-block.scss */
.slick-prev:before {
  content: "\e03f";
}

/* line 80, ../sass/templates/_slider-block.scss */
.slick-next {
  right: 0;
}
/* line 82, ../sass/templates/_slider-block.scss */
.slick-next:before {
  content: "\e04b";
}

/* line 87, ../sass/templates/_slider-block.scss */
.slider-block__image-block {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

/* line 93, ../sass/templates/_slider-block.scss */
.slider-block__title-block {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* line 97, ../sass/templates/_slider-block.scss */
.slider-block__title-block .opt-title {
  margin-bottom: 1em;
}
@respond-to (mobile) {
  /* line 97, ../sass/templates/_slider-block.scss */
  .slider-block__title-block .opt-title {
    margin-bottom: 0;
  }
}
/* line 103, ../sass/templates/_slider-block.scss */
.slider-block__title-block .body {
  height: 33%;
  width: 90%;
  max-width: 14em;
}
@respond-to (mobile) {
  /* line 103, ../sass/templates/_slider-block.scss */
  .slider-block__title-block .body {
    opacity: 0;
  }
}
/* Three sets of similarly-structured content. 
Think 'feature lists', or content too small 
to warrant a slider. */
/* Modules:

- Titles
- Titles flank CTA
- Images flank CTA
- Central content

Modifiers:

-- Backgrounded

*/
/* Construction:

  .three-up-block
   ___________________________________
  |           |           |           |
  |           |           |           |
  | __section | __section | __section |
  |           |           |           |
  |           |           |           |
  |___________|___________|___________|

*/
/* line 31, ../sass/templates/_three-up-block.scss */
.three-up-block {
  /* --- structure --- */
  width: 100%;
  height: 100%;
  position: relative;
  /* --- theming --- */
  overflow: hidden;
  /* --- child layout --- */
}
/* line 83, ../sass/_mixins.scss */
.three-up-block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 43, ../sass/templates/_three-up-block.scss */
.three-up-block > .title-block, .three-up-block > .cta-block, .three-up-block > .image-block {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
/* line 49, ../sass/templates/_three-up-block.scss */
.three-up-block .image {
  max-height: 100%;
}

/* line 55, ../sass/templates/_three-up-block.scss */
.three-up-block__section {
  float: left;
  display: table;
  height: 100%;
  width: 33.333%;
  /* --- mobile --- */
}
@media only screen and (max-width: 1024px) {
  /* line 55, ../sass/templates/_three-up-block.scss */
  .three-up-block__section {
    float: none;
    width: 100%;
    height: 33%;
  }
}

/* line 68, ../sass/templates/_three-up-block.scss */
.three-up-block__section__cta-block {
  display: table-cell;
  vertical-align: middle;
}

/* line 73, ../sass/templates/_three-up-block.scss */
.three-up-block--full {
  /* ---structure --- */
  height: 100vh;
  /* --- child layout --- */
}
/* line 78, ../sass/templates/_three-up-block.scss */
.three-up-block--full > .three-up-block__section {
  height: 100vh;
}
@media only screen and (max-width: 1024px) {
  /* line 78, ../sass/templates/_three-up-block.scss */
  .three-up-block--full > .three-up-block__section {
    height: 33vh;
  }
}
/* line 85, ../sass/templates/_three-up-block.scss */
.three-up-block--full .image-block {
  height: 100vh;
}

/* line 90, ../sass/templates/_three-up-block.scss */
.three-up-block--small {
  /* ---structure --- */
  height: 38vh;
  /* --- child layout --- */
}
/* line 95, ../sass/templates/_three-up-block.scss */
.three-up-block--small > .three-up-block__section {
  height: 38vh;
}
@media only screen and (max-width: 1024px) {
  /* line 95, ../sass/templates/_three-up-block.scss */
  .three-up-block--small > .three-up-block__section {
    height: 12.7vh;
  }
}
/* line 102, ../sass/templates/_three-up-block.scss */
.three-up-block--small .image-block {
  height: 38vh;
}
@media only screen and (max-width: 1024px) {
  /* line 102, ../sass/templates/_three-up-block.scss */
  .three-up-block--small .image-block {
    height: 12.7vh;
  }
}

/* line 110, ../sass/templates/_three-up-block.scss */
.three-up-block--backgrounded {
  background-color: #AA1925;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 115, ../sass/templates/_three-up-block.scss */
.three-up-block--backgrounded * {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

/* Two sets of similarly-structured content,
side-by-side. */
/* Modules:

- Titles
- Title & Capture
- Title & image

Modifiers:

-- Golden Section
-- Reverse
-- Backgrounded
-- Full
-- Small

*/
/* Construction:

  .two-up-block
   ________________________
  |           |           |
  |           |           |
  | __section | __section |
  |           |           |
  |           |           |
  |___________|___________|

*/
/* line 33, ../sass/templates/_two-up-block.scss */
.two-up-block {
  /* --- structure --- */
  width: 100%;
  height: 62vh;
  position: relative;
  /* --- theming --- */
  overflow: hidden;
  /* --- child layout --- */
}
/* line 83, ../sass/_mixins.scss */
.two-up-block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 44, ../sass/templates/_two-up-block.scss */
.two-up-block > .two-up-block__section {
  float: left;
  display: table;
  height: 100%;
  width: 50%;
}
/* line 51, ../sass/templates/_two-up-block.scss */
.two-up-block .title-block, .two-up-block .cta-block, .two-up-block .image-block, .two-up-block .form-block {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
/* line 57, ../sass/templates/_two-up-block.scss */
.two-up-block .image {
  max-height: 100%;
}

/* line 63, ../sass/templates/_two-up-block.scss */
.two-up-block--full {
  /* ---structure --- */
  height: 100vh;
  /* --- child layout --- */
}
/* line 68, ../sass/templates/_two-up-block.scss */
.two-up-block--full > .two-up-block__section {
  height: 100vh;
}
/* line 72, ../sass/templates/_two-up-block.scss */
.two-up-block--full .image-block {
  height: 100vh;
}

/* line 77, ../sass/templates/_two-up-block.scss */
.two-up-block--small {
  /* ---structure --- */
  height: 38vh;
  /* --- child layout --- */
}
/* line 82, ../sass/templates/_two-up-block.scss */
.two-up-block--small > .two-up-block__section {
  height: 38vh;
}
/* line 86, ../sass/templates/_two-up-block.scss */
.two-up-block--small .image-block {
  height: 38vh;
}

/* line 91, ../sass/templates/_two-up-block.scss */
.two-up-block--backgrounded {
  background-color: #AA1925;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 96, ../sass/templates/_two-up-block.scss */
.two-up-block--backgrounded * {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

/* line 104, ../sass/templates/_two-up-block.scss */
.two-up-block--gs > .two-up-block__section:first-child {
  width: 61.8%;
}
/* line 107, ../sass/templates/_two-up-block.scss */
.two-up-block--gs > .two-up-block__section:last-child {
  width: 38.2%;
}

/* line 114, ../sass/templates/_two-up-block.scss */
.two-up-block--reverse > .two-up-block__section {
  float: right;
}

/* Items with equal value in a list. */
/* Modules:

- Stacked
- Inline

 */
/* line 10, ../sass/templates/_nav-block.scss */
.nav-block {
  /* --- structure --- */
  height: 4.2358em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* --- theming --- */
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 1px 0px rgba(175, 175, 175, 0.2);
  /* --- mobile --- */
}
/* line 83, ../sass/_mixins.scss */
.nav-block:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1024px) {
  /* line 10, ../sass/templates/_nav-block.scss */
  .nav-block {
    display: none;
  }
}

/* line 31, ../sass/templates/_nav-block.scss */
.nav-block__image-block {
  float: left;
}

/* line 35, ../sass/templates/_nav-block.scss */
.nav-block__list-block {
  float: right;
  /* override when first-child (i.e. no brand) */
}
/* line 37, ../sass/templates/_nav-block.scss */
.nav-block__list-block .list-item {
  line-height: 4.2358em;
}
/* line 40, ../sass/templates/_nav-block.scss */
.nav-block__list-block a {
  margin: 0 1.618em;
  color: #444;
  text-decoration: none;
  font-weight: 500;
}
/* line 48, ../sass/templates/_nav-block.scss */
.nav-block__list-block:first-child {
  float: left;
}

/* line 53, ../sass/templates/_nav-block.scss */
.nav-block__cta-block {
  float: right;
  line-height: 4.2358em;
}
/* line 56, ../sass/templates/_nav-block.scss */
.nav-block__cta-block .cta {
  background-color: rgba(255, 255, 255, 0.4);
}

/* setup */
/* Constrain components to the central banner */
/* line 3, ../sass/layout/_containers.scss */
.container {
  margin: 0 auto;
  max-width: 1140px;
  height: 100%;
}
/* line 8, ../sass/layout/_containers.scss */
.container > .title-block {
  margin: 0 auto;
}
@media only screen and (max-height: 768px) {
  /* line 3, ../sass/layout/_containers.scss */
  .container {
    max-width: 870px;
  }
}

/* line 18, ../sass/layout/_containers.scss */
.container--full {
  max-width: none;
  width: 100%;
}

/* line 45, ../sass/screen.scss */
.label {
  display: block;
  font-family: sans-serif;
  color: #aaa;
  font-weight: light;
  margin-top: 1em;
  padding: 1em 0;
}
