/* Constrain components to the central banner */

.container {
	margin: 0 auto;
	max-width: $max-container-width;
  height: 100%;

	& > .title-block {
		margin: 0 auto;
	}

  @include respond-to(shallow-screen) {
    max-width: 870px;
  }

}

.container--full {
  max-width: none;
  width: 100%;
}