/* Large titles and some copy. 
Think 'shouty' messages. */

/* Modules:

- Text & CTA
- Text & Capture
- Text & Capture Fullheight
- Text & Content

*/

/* Construction:

	.holler-block
	 _______________
	|               |
	|   __section   |
	|               |
	|---------------|
	|   __section   |
	|_______________|

*/

.holler-block {
	/* --- structure --- */
	width: 100%;
	height: 62vh;
	position:relative;

	/* --- theming --- */
	overflow: hidden;

	/* --- child layout --- */

	.title-block {
		display: table-cell;
		vertical-align: bottom;
	}

	.cta-block, .form-block {
		padding-top: 2.61em;
		margin: 0 auto;
	}
}

.holler-block--full {
	height: 100vh;
}

.holler-block--backgrounded {
	background-color: $color-2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	* {
		color: $color-5 !important;
		border-color: $color-5 !important;
	}
}

.holler-block__section {
	display: table;
	width: 100%;
	margin: 0 auto;
}

.holler-block__section:first-child {
	height: 61.8%;
}

.holler-block__section:last-child {
	height: 38.2%;
}