/* Large titles and some copy. 
Think 'shouty' messages. */

/* Modules:

- Text & CTA
- Text & Capture
- Text & Capture Fullheight
- Text & Content

*/

/* Construction:

	.holler-block
	 _______________
	|               |
	|   __section   |
	|               |
	|---------------|
	|   __section   |
	|_______________|

*/

.holler-block {
	/* --- structure --- */
	width: 100%;
	height: 62vh;
	position:relative;

	/* --- theming --- */
	outline: 1px dotted gray; /* for demo purposes */

	/* --- child layout --- */
	& > .holler-block__section:first-child {
		display: table;
		height: 61.8%;
		width: 100%;
		margin: 0 auto;
	}

	.title-block {
		display: table-cell;
		vertical-align: bottom;
		padding-bottom: 2.61em;
	}

	.cta-block {
		margin: 0 auto;
	}
}

.holler-block--full {
	height: 100vh;
}