/* Two-up displays, for e.g. contextualised content. */

/* Modules:

- Text & Content
- Text & Content GS ('Golden Section')
- Text & Content Reverse
- Text & Content GS Reverse

*/

.media-component {
	/* --- structure --- */
	width: 100%;
	height: 62vh;
	position: relative;

	/* --- theming --- */

	@include show-outline;
	overflow: hidden;

	/* --- child layout --- */
	.slider-block {
		height: 62vh;
		.image--portrait {
			height: 62vh;	
		}
	}

	/* --- mobile --- */
	@include respond-to(mobile) {
		height: 100vh;
	}

}

.media-component--gs {
	/* --- structure --- */

	/* --- theming --- */

	/* --- child layout --- */
	.media-component__section {
		width: 38.2%;

		&:first-child, &:last-child {
			width: 61.8%;
		}

	}

}

.media-component--reverse {
	/* --- structure --- */

	/* --- theming --- */

	/* --- child layout --- */
	.media-component__section {
		float: left;

		&:first-child {
			float: right;
		}
	}
	
}

.media-component__section {
	/* --- structure --- */
	height: 100%;
	width: 50%;
	float: right;
	box-sizing: border-box;
	padding: 0 1em;

	&:first-child {
		display: table;
		height: 61.8%;
		float: left;
	}

	&:last-child {
		height: auto;
	}

	/* --- theming --- */

	/* --- child layout --- */

	.title-block {
		display: table-cell;
		vertical-align: bottom;
	}

	.cta-block {
		padding-top: rhythm-increment(2) + em;
	}

	/* --- mobile --- */
	@include respond-to(mobile) {
		width: 100%;
		height: 50% !important;
		float: none !important;
		padding: 0;
		&:last-child {
			height: auto !important;
			position: absolute;
			bottom: 0;
		}

		.cta-block {
			margin-bottom: rhythm-increment(2) + em;
		}
	}
}