/* Ways of displaying images. */

/* Modules:

- Centered
- Full
- 1-up Grid
- 2-up Grid
- 4-up Grid
- 6-up Grid

*/

.image-block {
  /* --- structure --- */
  @include border-box;
  position: relative;

  /* --- theming --- */

  /* --- child layout --- */
  .caption {
    position: absolute;
    bottom: rhythm-increment(0) + em;
    width: 100%;

    color: $color-5;
    text-shadow: 1px 1px 1px $color-8;

    /* --- mobile --- */
    @include respond-to(mobile) {
      display: none;
    }
  }

  .caption--right {
    right: 1em;
  }

  .caption--left {
    left: 1em;
  }
}

.image-block--centered {
  /* --- structure --- */

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    display: block;
    margin: 0 auto;
  }
}

.image-block--full {
  /* --- structure --- */

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    width: 100%;
  }

  .image--portrait {
    width: auto;
    height: 100%;
  }

  .image--landscape {
    height: auto;
  }
}

.image-block--grid {
  /* --- structure --- */
  @include clearfix;

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    float: left;
  }

  /* --- mobile --- */
  @include respond-to(mobile) {
    
  }
}

.image-block--1grid {
  /* --- structure --- */

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    width: 80%;
    margin: 0 auto;
    float: none;
    display: block;
  }

  /* --- mobile --- */
  @include respond-to(mobile) {
    .image {
      width: 50%;
      float: left;
    }
  }
}

.image-block--2grid {
  /* --- structure --- */

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    width: 50%;
  }
}

.image-block--4grid {
  /* --- structure --- */

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    width: 25%;
  }
}

.image-block--6grid {
  /* --- structure --- */

  /* --- theming --- */

  /* --- child layout --- */
  .image {
    width: 16.66%;
  }
}