/* Images for, uh, looking at. */

/* Modules:

- Portrait
- Landscape
- Circle

*/

.image {
  /* --- structure --- */
  @include border-box;
  max-width: 100%;

  /* --- theming --- */
}

.image--portrait {
  /* --- structure --- */
  max-height: 100%;
  max-width: none;

  /* --- theming --- */
}

.image--landscape {
  /* --- structure --- */
  max-width: 100%;

  /* --- theming --- */
}

.image--rounded {
  /* --- structure --- */

  /* --- theming --- */
  border-radius: 50%;
}