/* Images for, uh, looking at. */

/* Modules:

- Center
- Left
- Right

!!! contains p tags !!!

*/

.caption {
  /* --- structure --- */
  @include border-box;

  /* --- theming --- */
  @include default-body-font-styling;
  font-size: $font-size-base;
  font-style: italic;
  text-align: center;
  color: $color-8;

  /* --- child layout --- */
  .caption__body {
    max-width: none;
    display: block;
  }
}

.caption--left {
  /* --- structure --- */
  text-align: left;
  /* --- theming --- */
}

.caption--right {
  /* --- structure --- */
  text-align: right;
  /* --- theming --- */
}