/* Optional Titles, such as subtitles 
and leader statements. */

.opt-title {
	/* --- structure --- */
  padding: 0 0.16em;

	/* --- theme --- */
	font-size: $font-size-1;
	@include default-header-font-styling;
  color: $color-7;
}