/* Main site header copy. */

/* Modules:

- Regular
- Wide

!!! can contain __numbers when using Futura

*/


.title {
	/* --- structure --- */
  max-width: 29em;

	/* --- theming --- */
	@include default-header-font-styling;
	font-size: $font-size-3;

}

.title--wide {
  /* --- structure --- */
  max-width: 56em;
}

/* the following class is relevant only
   if using a small-caps font that does
   not handle numbers appropriately */

.title__numbers {
  font-size: 0.7em;
}