/* Extended written things. */

.body {
	/* --- structure --- */
  max-width: 29em;

	/* theme */
	font-size: $font-size-base;
	@include default-body-font-styling;
}

.body--big {
  font-size: $font-size-1;
  /* --- mobile --- */
  @include respond-to(mobile) {
    font-size: $font-size-base;
  }
}

.article__body {
  max-width: 480px;
  padding-bottom: rhythm-increment(1) + em;
  padding-left: 1.2em;
}
