/* Title and some copy. 
Think 'informative' messages. */

/* Modules:

- Center
- Left
- Right
- With Image

!!! can contain opt-titles !!!

*/

.title-block {
	/* --- structure --- */
	padding: 0 1em;

	/* --- theming --- */

	/* --- child layout --- */
	.title, .body, .opt-title {
		text-align: center;
		margin: 0 auto;
	}

	.opt-title--below {
	  margin-bottom: rhythm-increment(0) + em;
	}

	.title {
		margin-bottom: 0.5em;
	}

	/* --- mobile --- */

	
}

.title-block__image-block {
	margin-bottom: rhythm-increment(1) + em;
	.image--portrait {
		height: auto !important;
	}
}

.title-block--left {
	text-align: left;

	/* --- child layout --- */
	.title, .body, .opt-title {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}

	.body {
		display: inline-block;
	}

	/* --- mobile --- */
	@include respond-to(mobile) {
		.title, .body, .opt-title {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.title-block--right {
	text-align: right;

	/* --- child layout --- */
	.title, .body, .opt-title {
		text-align: right;
		margin-left: 0;
		margin-right: 0;
	}

	/* hacky way to make titles display properly without
		 overflowing set container widths */
	.title {
		max-width: 0em;
		text-indent: -0.15em;
	}

	.body {
		display: inline-block;
	}

	/* --- mobile --- */
	@include respond-to(mobile) {
		.title, .body, .opt-title {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		.title {
			max-width: 29em;
			text-indent: 0;
		}
	}
}