---
title: Welcome to Middleman
---


<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    <%= partial "components/quarks/fake", locals: { thing: "Woop" } %>
  </p><!-- .doc -->
</div><!-- .welcome -->