<!doctype html>
<html>
	<head>
	  <link href="../../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="../../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
	</head>

	<body>

		<div class="page">
			
			<div class="container">

				<div class="title-block">
					<h1 class="title title-block__title">Media Component</h1>
					<h3 class="opt-title opt-title--below title-block__subtitle">Molecule</h3>
					<p class="body title-block__body">
						Two-up displays, for e.g. contextualised content.
					</p>
				</div>
				
				<h3>Modules</h3>
				<div class="example">
					
					<!-- BEGIN examples -->

					<span class="label">Text &amp; Content</span>
					
					<div class="media-component">
						
						<section class="media-component__section">
							<div class="title-block">
								<h1 class="title title-block__title">
									Title
								</h1>
								<p class="body title-block__body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
								</p>
							</div>
						</section>
						<section class="media-component__section">
							Some Content
						</section>
						<section class="media-component__section">
							<div class="cta-block">
								<a href="#" class="cta cta--horizontal">CTA ></a>
							</div>
						</section>

					</div>

					<span class="label">Text &amp; Content GS</span>
					
					<div class="media-component media-component--gs">
						
						<section class="media-component__section">
							<div class="title-block">
								<h1 class="title title-block__title">
									Title
								</h1>
								<p class="body title-block__body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
								</p>
							</div>
						</section>
						<section class="media-component__section">
							Some Content
						</section>
						<section class="media-component__section">
							<div class="cta-block">
								<a href="#" class="cta cta--horizontal">CTA ></a>
							</div>
						</section>

					</div>

					<span class="label">Text &amp; Content Reverse</span>
					
					<div class="media-component media-component--reverse">
						
						<section class="media-component__section">
							<div class="title-block">
								<h1 class="title title-block__title">
									Title
								</h1>
								<p class="body title-block__body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
								</p>
							</div>
						</section>
						<section class="media-component__section">
							Some Content
						</section>
						<section class="media-component__section">
							<div class="cta-block">
								<a href="#" class="cta cta--horizontal">CTA ></a>
							</div>
						</section>

					</div>

					<span class="label">Text &amp; Content GS Reverse</span>
					
					<div class="media-component media-component--gs media-component--reverse">
						
						<section class="media-component__section">
							<div class="title-block">
								<h1 class="title title-block__title">
									Title
								</h1>
								<p class="body title-block__body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
								</p>
							</div>
						</section>
						<section class="media-component__section">
							Some Content
						</section>
						<section class="media-component__section">
							<div class="cta-block">
								<a href="#" class="cta cta--horizontal">CTA ></a>
							</div>
						</section>

					</div>

					<!-- END examples -->

				</div>
				
				<div class="content">
					<div class="usage">
						...How to use...
					</div>
					<div class="code">
						<div class="html">
							<pre>
								
							</pre>
						</div>
						<div class="css">
							<pre></pre>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- BrowserSync -->
		<script type='text/javascript' id="__bs_script__">//<![CDATA[
		    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.1.js'><\/script>".replace("HOST", location.hostname));
		//]]></script>
		<!-- END BrowserSync -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	</body>
</html>