<div class="container">

	<div class="title-block">
		<h1 class="title title-block__title">CTA</h1>
		<h3 class="opt-title opt-title--below title-block__subtitle">quark</h3>
		<p class="body title-block__body">
			Calls to Action, designed to get the user moving either horizontally (across content), or to have them complete the vertical path (the action goal).
		</p>
	</div>
	
	<h3>Modules</h3>
	<div class="example">
		<!-- BEGIN examples -->
		
		<span class="label">Horizontal</span>
		<%= partial "components/quarks/cta", locals: {
				text: "Read Gabe's Story",
				link: "#",
				modifiers: ["horizontal"]
			} %>

		<span class="label">Vertical</span>
		<%= partial "components/quarks/cta", locals: {
			text: "Apply now",
			link: "#",
			modifiers: ["vertical"]
		} %>

		<span class="label">Horizontal Big</span>
		<%= partial "components/quarks/cta", locals: {
			text: "See more",
			link: "#",
			modifiers: ["horizontal", "big"]
		} %>

		<span class="label">Vertical Big</span>
		<%= partial "components/quarks/cta", locals: {
				text: "Apply",
				link: "#",
				modifiers: ["vertical", "big"]
			} %>

		<span class="label">Form Submit</span>
		<input class="cta cta--submit" type="submit" />

		<!-- END examples -->
	</div>

	<div class="content">
		<div class="usage">
			
		</div>
		<div class="code">
			<div class="html">
				<pre></pre>
			</div>
			<div class="css">
				<pre></pre>
			</div>
		</div>
	</div>

</div>

