<div class="container">

	<div class="title-block">
		<h1 class="title title-block__title">Title</h1>
		<h3 class="opt-title opt-title--below title-block__subtitle">quark</h3>
		<p class="body title-block__body">
      Titles for telling you what is on the page mate.
		</p>
	</div>

	<h3>Modules</h3>
	<div class="example">
		<!-- BEGIN examples -->

		<span class="label">Large Title</span>
		<%= partial "components/quarks/title", locals: {
				text: "Large Title",
    } %>

		<!-- END examples -->
	</div>

	<div class="content">
		<div class="usage">

		</div>
		<div class="code">
			<div class="html">
				<pre></pre>
			</div>
			<div class="css">
				<pre></pre>
			</div>
		</div>
	</div>

</div>

