<!doctype html>
<html>
	<head>
<script src="//use.typekit.net/snz4plr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
	  <link href="../../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="../../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
	</head>

	<body>

		<div class="container">

			<div class="title-block">
				<h1 class="title title-block__title">CTA</h1>
				<h3 class="opt-title opt-title--below title-block__subtitle">Atom</h3>
				<p class="body title-block__body">
					Calls to Action, designed to get the user moving either horizontally (across content), or to have them complete the vertical path (the action goal).
				</p>
			</div>
			
			<h3>Modules</h3>
			<div class="example">
				<!-- BEGIN examples -->
				
				<span class="label">Horizontal</span>
				<a href="#" class="cta cta--horizontal">Read Gabe's Story</a>

				<span class="label">Vertical</span>
				<a href="#" class="cta cta--vertical">Apply now</a>

				<span class="label">Horizontal Big</span>
				<a href="#" class="cta cta--horizontal cta--big">See more</a>

				<span class="label">Vertical Big</span>
				<a href="#" class="cta cta--vertical cta--big">Apply</a>

				<span class="label">Form Submit</span>
				<input class="cta cta--submit" type="submit" />

				<!-- END examples -->
			</div>

			<div class="content">
				<div class="usage">
					
				</div>
				<div class="code">
					<div class="html">
						<pre></pre>
					</div>
					<div class="css">
						<pre></pre>
					</div>
				</div>
			</div>

		</div>

		<!-- BrowserSync -->
		<script type='text/javascript' id="__bs_script__">//<![CDATA[
		    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.1.js'><\/script>".replace("HOST", location.hostname));
		//]]></script>
		<!-- END BrowserSync -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	</body>
</html>