.kern-a, .kern-A {
  letter-spacing: 0.01em;
}

.kern-b, .kern-B {
  
}

.kern-c, .kern-C {
  letter-spacing: 0.01em;
}

.kern-d, .kern-D {
  letter-spacing: 0.02em;
}

.kern-e, .kern-E {
  letter-spacing: 0.01em;
}

.kern-f, .kern-F {
  
}

.kern-g, .kern-G {
  letter-spacing: 0.00em;
}

.kern-h, .kern-H {
  
}

.kern-i, .kern-I {
  
}

.kern-j, .kern-J {
  
}

.kern-k, .kern-K {
  letter-spacing: 0.03em;
}

.kern-l, .kern-L {
  
}

.kern-m, .kern-M {
  letter-spacing: -0.07em;
}

.kern-n, .kern-N {
  letter-spacing: -0.05em;
}

.kern-o, .kern-O {
  letter-spacing: -0.07em;
}

.kern-p, .kern-P {
  letter-spacing: 0.01em;
}

.kern-q, .kern-Q {
  letter-spacing: 0.01em;
}

.kern-r, .kern-R {
  letter-spacing: 0.03em;
}

.kern-s, .kern-S {
  
}

.kern-t, .kern-T {
  letter-spacing: 0.08em;
}

.kern-u, .kern-U {
  letter-spacing: 0.00em;
}

.kern-v, .kern-V {
  
}

.kern-w, .kern-W {
  
}

.kern-x, .kern-X {
  
}

.kern-y, .kern-Y {
  letter-spacing: 0.05em;
}

.kern-z, .kern-Z {
  
}