/* --- Breakpoints --- */
$mobile: 1024px;
$massive: 2440px;
$shallow-screen: 768px;

$max-container-width: 1140px;

/* --- Typography --- */

$font-stack-1: "futura-pt", Futura, Helvetica, Arial, sans-serif;
$font-stack-2: "Brandon Grotesque", Helvetica, Arial, sans-serif;

/* font sizes use the typographic rhythm
   declared in _functions.scss */

$root-font-size: 16px; /* set on the body only */

$font-size-base: 1em;
$font-size-1: rhythm-increment(1) + em;
$font-size-2: rhythm-increment(2) + em;
$font-size-3: rhythm-increment(3) + em;

/* --- Color --- */

/* all colors are from 
   https://drive.google.com/drive/u/0/#folders/0B3zMV1alL-hBREJ3Qjd0ZlVfUm8/0B3zMV1alL-hBVmlHSENfV0FUeWc/0B3zMV1alL-hBX1BOaHNjaDBxV00 */

$color-1: #000; 	/* black */
$color-2: #062533; 	/* dark blue */
$color-3: #00333F; 	/* dark turquoise */
$color-4: #EFF7F2; 	/* off-white */
$color-5: #FFFFFF; 	/* white */
$color-6: #AA1925; 	/* red */

/* color extensions */

$color-7: #afafaf;  /* grey */
$color-8: #444; /* dark grey */

/* --- Animation --- */

$transition-standard: all 0.3s ease-in-out;
$transition-faster: all 0.2s ease-in-out;
$transition-slower: all 0.4s ease-in-out;

/* --- Borders --- */

$default-border-style: solid;
$default-border-width: 2px;
$default-border-radius: 0.5em;