/* Import all screen styles here. */

@import "vendor/reset";
/*@import "../singularitygs"; */

/* load order is important here */
@import "_globals";
@import "_functions";
@import "_variables";
@import "_mixins";

@import "typography/typography";

/* atoms */
@import "atoms/_title";
@import "atoms/_body";
@import "atoms/_cta";
@import "atoms/_input";
@import "atoms/_image";
@import "atoms/_caption";
@import "atoms/_list-item";
@import "atoms/_blockquote";

/* groups */
@import "groups/_title-block";
@import "groups/_cta-block";
@import "groups/_input-block";
@import "groups/_form-block";
@import "groups/_image-block";
@import "groups/_list-block";
@import "groups/_table";

/* templates */
@import "templates/_holler-block";
@import "templates/_media-component";
@import "templates/_slider";
@import "templates/_three-up-block";
@import "templates/_two-up-block";
@import "templates/_nav-block";
@import "templates/_one-up-block";
@import "templates/_one-up-table";

/* setup */
@import "layout/_containers";

.label {
	display:block;
	font-family: sans-serif;
	color: #aaa;
	font-weight: light;
	margin-top:1em;
	padding: 1em 0;
}
