/* Calls to Action, designed to get 
the user moving either horizontally 
(across content), or to have them 
complete the vertical path (the 
action goal). */

/* Modules:

- Horizontal
- Vertical
- Horizontal Big
- Vertical Big

*/

.cta {
	/* layout */
	display: inline-block;
	max-width: 6.85em;
	padding: 1em;

	/* theme */
	@include transition($transition-faster);
	text-decoration: none;
	border: 2px solid;
	border-radius: 0.5em;
}

.cta--horizontal {
	/* layout */

	/* theme */
	color: $color-3;

	&:hover {
		background: rgba($color-3, 0.2);
	}
}

.cta--vertical {
	/* layout */

	/* theme */
	color: $color-6;

	&:hover {
		background: rgba($color-6, 0.2);
	}
}

.cta--big {
	/* layout */
	max-width: 11.1em;
	font-size: $font-size-1;

	/* theme */
}