/* For allowing users to enter values. */

/* Modules:

- Text Input
- Telephone Input
- Email Input
- Radio Input
- Textarea Input
- Select Input

*/

.input {
	/* layout */
	display: block;
	padding: 0.618em;

	/* theme */
	font-size: $font-size-base;
	@include default-body-font-styling;
	background: transparent;

	&:focus {
		outline: none;
	}

	&::-webkit-input-placeholder {
	   color: $color-7;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color-7;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color-7;  
	}

	&:-ms-input-placeholder {  
	   color: $color-7;  
	}
}

.input--text {
	/* layout */

	/* theme */
	@include default-border($default-border-radius);
	border-color: $color-6;
}

.input--radio {
	/* layout */
	display: inline-block;

	/* theme */
}

.input--textarea {
	/* layout */
	resize: none;

	/* theme */
	@include default-border($default-border-radius);
	border-color: $color-6;
}