<% component = "form-block" %>

<form class="<%= component_classes(component, locals) %>" action="<%= action %>" method="<%= method %>">
  <% input_blocks.each do | input_block | %>
    <%=  partial :"groups/input-block", locals: input_block %>
  <% end %>
</form>
