<% component = "image-block" %>

<div class="<%= component_classes(component, locals) %>">

  <% images.each do | image | %>
    <%= partial "atoms/image", locals: {
        parent: component,
        modifiers: image.fetch(:modifiers, []),
        src: image[:src],
        alt: image[:alt]
      } %>
  <% end %>

  <% if defined?(caption) %>
    <%= partial "atoms/caption", locals: {
        parent: component,
        modifiers: caption[:modifiers],
        bodies: caption[:bodies]
      } %>
  <% end %>

</div>
