<% component = "input-block" %>

<div class="<%= component_classes(component, locals) %>">
  <% inputs.each do | input | %>
    <% if input[:label] %>
      <label class="label input-block__label" for="<%= input[:name] %>"><%= input[:label] %></label>
    <% end %>
    <%= partial :"atoms/input", locals: {
      modifiers: input[:input_type],
      input_type: input[:input_type],
      name: input[:name],
      placeholder: input[:placeholder]
    } %>
  <% end %>
</div>

