<% component = "table" %>

<table class="<%= component_classes(component, locals) %>">

  <thead>
    <tr>
      <% columns.each do | column | %>
      <th><%= column[:header] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% # This iterator relies on the same number of rows per column %>
    <% columns[0][:rows].each_with_index do | row, index | %>
    <tr>
      <% columns.each do | column | %>
      <td><%= column[:rows][index] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>

</table>
