<% # Includes _image-block group, and _title, _body, _opt-title atoms %>
<% component ||= "title-block" %>

<div class="<%= component_classes locals.fetch(:parent, nil), component, locals.fetch(:modifiers, []) %>">

  <% titles.each do | title | %>

    <%= partial 'components/atoms/title', locals: {
      parent: component,
      text: title[:text],
      modifiers: title[:modifiers]
    } %>

  <% end %>


  <%= partial 'components/atoms/body', locals: {
    parent: component,
    text: body[:text],
    modifiers: [] << body[:modifiers]
  } %>

</div>


