/* Block container for CTA configurations. */

/* Modules:

- Single
- Inline
- Stacked
- Bar

!!! can contain cta--bigs !!!

*/

.cta-block {
	/* layout */
	text-align: center;

	/* theming */

}

.cta-block--left {
	text-align: left;
}

.cta-block--right {
	text-align: right;
}

.cta-block--inline {
	/* layout */

	/* theming */

	.cta {
		display: inline-block;

		/* margins for central CTAs only */
		&:nth-child(2n) {
			margin: 0 2.61em;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.cta-block--stacked {
	/* layout */

	/* theming */

	.cta {
		display: block;

		/* margins for central CTAs only */
		&:nth-child(2n) {
			margin: 1em 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

}

.cta-block--bar {
	/* layout */

	/* theming */

	.cta {
		float: left;

		/* border radii change only for 
		inner children */
		border-radius: 0;
		border-left-width: 1px;
		border-right-width: 1px;

		&:first-child {
			border-left-width: 2px;
			border-top-left-radius: 0.5em;
			border-bottom-left-radius: 0.5em;
		}

		&:last-child {
			border-right-width: 2px;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
		}
	}

}