/* Title and some copy. 
Think 'informative' messages. */

/* Modules:

- Center
- Left
- Right

!!! can contain opt-titles !!!

*/

.title-block {
	/* layout */
	max-width: 29em;
	padding: 0 1em;
	.title, .body, .opt-title {
		text-align: center;
		margin: 0 auto;
		max-width: 29em;
	}

	/* theme */
	
}

.title-block--left {
	.title, .body, .opt-title {
		text-align: left;
		margin: 0;
	}
}

.title-block--right {
	.title, .body, .opt-title {
		text-align: right;
		margin: 0;
	}
}