<div class="page">

  <div class="container">

    <div class="title-block">
      <h1 class="title title-block__title">Form Block</h1>
      <h3 class="opt-title opt-title--below title-block__subtitle">group</h3>
      <p class="body title-block__body">
        For collecting content from visitors.
      </p>
    </div>

    <h3>Modules</h3>
    <div class="example">

      <!-- BEGIN examples -->

      <span class="label">Simple Form</span>
      <%= partial :"components/groups/form-block", locals: {
          action: "/",
          method: "post",
          input_blocks: [
            {
              inputs: [
                {
                  input_type: "text",
                  name: "capture",
                  placeholder: "Capture something...",
                  label: "Capture:"
                }
              ]
            },
            {
              inputs: [{ input_type: "submit" }]
            }
          ]
      } %>

      <span class="label">Form with Fieldsets</span>

      <%= partial :"groups/form-block", locals: {
        action: "/",
        method: "post",
        input_blocks: [
          {
            title: "Fieldset one",
            inputs: [
              {
                input_type: "text", # defaults to "text"
                label: "Enter some info",
                name: "capture",
                placeholder: "Enter some info..."
              }
            ]
          },
          {
            title: "Fieldset two",
            modifiers: "list",
            inputs: [
              {
                input_type: "tel",
                label: "Enter your telephone number...",
                name: "telephone_capture",
                placeholder: "e.g. 07775554444"
              },
              {
                input_type: "text",
                label: "More info, please...",
                name: "more_info",
                placeholder: "Endless info pls"
              },
              { input_type: "submit" }
            ]
          }
        ]
      } %>

      <span class="label">Center-aligning form</span>
      <%= partial :"groups/form-block", locals: {
        modifiers: "center",
        action: "/",
        method: "get",
        input_blocks: [
          {
            modifiers: "inline-submit",
            inputs: [
              {
                input_type: "text",
                name: "capture_3",
                label: "Capture something...",
                placeholder: "Capture something..."
              },
              {
                input_type: "submit"
              }
            ]
          }
        ]
      } %>

      <!-- END examples -->

    </div>

    <div class="content">
      <div class="usage">
        ...How to use...
      </div>
      <div class="code">
        <div class="html">
          <pre>

          </pre>
        </div>
        <div class="css">
          <pre></pre>
        </div>
      </div>
    </div>

  </div>

</div>
