<!doctype html>
<html>
	<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//use.typekit.net/snz4plr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
	  <link href="../../stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
<link href="../../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="../../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
	</head>

	<body>

		<div class="page">
			
			<div class="container">

				<div class="title-block">
					<h1 class="title title-block__title">&lsquo;Holler&rsquo; Block</h1>
					<h3 class="opt-title opt-title--below title-block__subtitle">Molecule</h3>
					<p class="body title-block__body">
						Large titles and some copy. Think 'shouty' messages.
					</p>
				</div>

			</div>
				
			<h3>Modules</h3>
			<div class="example">
				
				<!-- BEGIN examples -->

				<span class="label">Text &amp; CTA</span>
				<div class="holler-block">
					<section class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</section>
					<section class="holler-block__section">
						<div class="cta-block">
							<a href="#" class="cta cta--horizontal">CTA</a>
						</div>
					</section>
				</div>

				<span class="label">Text &amp; Capture</span>
				<div class="holler-block">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="form-block form-block--center">
							<form action="/">
								<div class="input-block input-block--inline-submit">
									<label class="label input-block__label" for="capture_3">Capture something...</label>
									<input class="input input--text" type="text" name="capture_3" placeholder="Capture something..." />
									<input class="cta cta--submit" type="submit" />
								</div>
							</form>
						</div>
					</div>
				</div>

				<span class="label">Text &amp; Capture Fullheight</span>
				<div class="holler-block holler-block--full">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="form-block form-block--center">
							<form action="/">
								<div class="input-block input-block--inline-submit">
									<label class="label input-block__label" for="capture_3">Capture something...</label>
									<input class="input input--text" type="text" name="capture_3" placeholder="Capture something..." />
									<input class="cta cta--submit" type="submit" />
								</div>
							</form>
						</div>
					</div>
				</div>

				<span class="label">Text &amp; Content</span>
				<div class="holler-block">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="content-block">
							
						</div>
					</div>
				</div>

				<span class="label">Text &amp; Content (Backgrounded)</span>
				<div class="holler-block holler-block--backgrounded" style="background-image: url('http://placehold.it/1440x900&text=.');">
					<div class="holler-block__section">
						<div class="title-block">
							<h1 class="title title-block__title">
								Title
							</h1>
							<p class="body title-block__body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vero, repudiandae, vitae quibusdam eius iure porro facilis esse enim praesentium explicabo perspiciatis quidem quaerat! Necessitatibus, provident eveniet doloremque soluta delectus?
							</p>
						</div>
					</div>
					<div class="holler-block__section">
						<div class="content-block">
							
						</div>
					</div>
				</div>

				<!-- END examples -->

			</div>

			<div class="container">
				
				<div class="content">
					<div class="usage">
						...How to use...
					</div>
					<div class="code">
						<div class="html">
							<pre>
								
							</pre>
						</div>
						<div class="css">
							<pre></pre>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- BrowserSync -->
		<script type='text/javascript' id="__bs_script__">//<![CDATA[
		    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.1.js'><\/script>".replace("HOST", location.hostname));
		//]]></script>
		<!-- END BrowserSync -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	</body>
</html>