<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//use.typekit.net/snz4plr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
    <link href="../../stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
<link href="../../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="title-block">
        <h1 class="title title-block__title">Image Block</h1>
        <h3 class="opt-title opt-title--below title-block__subtitle">Compound</h3>
        <p class="body title-block__body">
          Ways of displaying images.
        </p>
      </div>
      
      <h3>Modules</h3>
      <div class="example">
        <!-- BEGIN examples -->

        <span class="label">Centered</span>
        <div class="image-block image-block--centered">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
        </div>

        <span class="label">Captioned</span>
        <div class="image-block image-block--centered">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <figcaption class="caption image-block__caption">
            <p class="body caption__body">Lorem Ipsum Dolor</p>
          </figcaption>
        </div>

        <span class="label">Full</span>
        <div class="image-block image-block--full">
          <img class="image image--landscape image-block__image" src="http://placehold.it/600x400&text=Hi" alt="A gray box with the text 'Hi'">
        </div>
        
        <span class="label">1-up Grid</span>
        <div class="image-block image-block--grid image-block--1grid">
          <img class="image image--landscape image-block__image" src="http://placehold.it/400x90&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--landscape image-block__image" src="http://placehold.it/400x90&text=Hi" alt="A gray box with the text 'Hi'">
        </div>

        <span class="label">2-up Grid</span>
        <div class="image-block image-block--grid image-block--2grid">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
        </div>

        <span class="label">4-up Grid</span>
        <div class="image-block image-block--grid image-block--4grid">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
        </div>

        <span class="label">6-up Grid</span>
        <div class="image-block image-block--grid image-block--6grid">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
          <img class="image image--portrait image-block__image" src="http://placehold.it/200x323&text=Hi" alt="A gray box with the text 'Hi'">
        </div>

        <!-- END examples -->
      </div>

      <div class="content">
        <div class="usage">
          
        </div>
        <div class="code">
          <div class="html">
            <pre></pre>
          </div>
          <div class="css">
            <pre></pre>
          </div>
        </div>
      </div>

    </div>

    <!-- BrowserSync -->
    <script type='text/javascript' id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.1.js'><\/script>".replace("HOST", location.hostname));
    //]]></script>
    <!-- END BrowserSync -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  </body>
</html>