<!doctype html>
<html>
	<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//use.typekit.net/snz4plr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
	  <link href="../../stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
<link href="../../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="../../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
	</head>

	<body>

		<div class="page">
			
			<div class="container">

				<div class="title-block">
					<h1 class="title title-block__title">Input Block</h1>
					<h3 class="opt-title opt-title--below title-block__subtitle">atom</h3>
					<p class="body title-block__body">
						For separating inputs within forms.
					</p>
				</div>
				
				<h3>Modules</h3>
				<div class="example">
					
					<!-- BEGIN examples -->

					<span class="label">Regular Input Block</span>
					<div class="input-block">
						<label class="label input-block__label">Capture something...</label>
						<input class="input input--text" type="text" name="capture" placeholder="Capture something..." />
					</div>

					<span class="label">Two-up Input Block</span>
					<div class="input-block input-block--two-up">
						<label class="label input-block__label" for="capture_1">Capture something (1)...</label>
						<input class="input input--text" type="text" name="capture_1" placeholder="Capture something..." />

						<label class="label input-block__label" for="capture_2">Capture something(2)...</label>
						<input class="input input--text" type="text" name="capture_2" placeholder="Capture something else...">
					</div>

					<span class="label">Inline (&lsquo;Capture&rsquo;) Input Block</span>
					<div class="input-block input-block--inline-submit">
						<label class="label input-block__label" for="capture_3">Capture something...</label>
						<input class="input input--text" type="text" name="capture_3" placeholder="Capture something..." />
						<input class="cta cta--submit" type="submit" />
					</div>

					<!-- END examples -->

				</div>
				
				<div class="content">
					<div class="usage">
						...How to use...
					</div>
					<div class="code">
						<div class="html">
							<pre>
								
							</pre>
						</div>
						<div class="css">
							<pre></pre>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- BrowserSync -->
		<script type='text/javascript' id="__bs_script__">//<![CDATA[
		    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.1.js'><\/script>".replace("HOST", location.hostname));
		//]]></script>
		<!-- END BrowserSync -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	</body>
</html>